Menu:
  "&File":
    value: "Файл(&F)"
    submenu:
      "New &Window":
        value: "Нове Вікно(&W)"
      "&New File":
        value: "Новий Файл(&N)"
      "&Open File…":
        value: "Вікрити Файл(&O)..."
      "Open Folder…":
        value: "Відкрити Папку..."
      "Add Project Folder…":
        value: "Додати проектну папку..."
      "Reopen Project":
        value: "Перевідкрити Проект"
        submenu:
          "Clear Project History":
            value: "Очистити історію проекту"
      "Reopen Last &Item":
        value: "Перевідкрити останній файл(&I)"
      "Se&ttings":
        value: "Налаштування(&T)..."
      "Config…":
        value: "Конфігурація..."
      "Init Script…":
        value: "Ініціалізувати скрипт..."
      "Keymap…":
        value: "Розкладка клавіатури..."
      "Snippets…":
        value: "Шаблони..."
      "Stylesheet…":
        value: "Стиль..."
      "&Save":
        value: "Зберегти(&S)"
      "Save &As…":
        value: "Зберегти Як(&A)..."
      "Save A&ll":
        value: "Зберегти Все(&L)"
      "&Close Tab":
        value: "Закрити вкладку(&C)"
      "Close &Pane":
        value: "Закрити Pane(&P)???"
      "Clos&e Window":
        value: "Закрити вікно(&E)"
      "E&xit":
        value: "Вийти(&X)"
      "Close All Tabs":
        value: "Закрити всі вкладки"
  "&Edit":
    value: "Редагування(&E)"
    submenu:
      "&Undo":
        value: "Скасувати(&U)"
      "&Redo":
        value: "Відтворити(&R)"
      "Cu&t":
        value: "Вирізати(&T)"
      "&Copy":
        value: "Копіювати(&C)"
      "Copy Pat&h":
        value: "Копіювати Шлях(&H)"
      "&Paste":
        value: "Вставити(&P)"
      "Select &All":
        value: "Вибрати все(&A)"
      "&Toggle Comments":
        value: "Коментарі(&T)"
      Lines:
        value: "Лінії"
        submenu:
          "&Indent":
            value: "Відступ(&I)"
          "&Outdent":
            value: "Зворотній відступ(&O)"
          "&Auto Indent":
            value: "Автоматичний відступ(&A)"
          "Move Line &Up":
            value: "Зрушити рядок вгору(&U)"
          "Move Line &Down":
            value: "Зрушити рядок вниз(&D)"
          "Du&plicate Lines":
            value: "Дублікувати рядки(&P)"
          "D&elete Line":
            value: "Видалити рядок(&E)"
          "&Join Lines":
            value: "З'єднати рядки(&J)"
      Columns:
        value: "Стовпці"
        submenu:
          "Move Selection &Left":
            value: "Зрушити вибранне вліво(&L)"
          "Move Selection &Right":
            value: "Зрушити вибранне вправо(&R)"
      Text:
        value: "Текст"
        submenu:
          "&Upper Case":
            value: "Верхній регістр(&U)"
          "&Lower Case":
            value: "Нижній регістр(&L)"
          "Delete to End of &Word":
            value: "Видалити до кінця слова(&W)"
          "Delete to Previous Word Boundary":
            value: "Видалити до попереднього слова"
          "Delete to Next Word Boundary":
            value: "Видалити до наступнього слова"
          "&Delete Line":
            value: "Видалити рядок(&D)"
          "&Transpose":
            value: "Транспортувати(&T)"
      Folding:
        value: "Згортання"
        submenu:
          "&Fold":
            value: "Згорнути(&F)"
          "&Unfold":
            value: "Розгорнути(&U)"
          "Unfold &All":
            value: "Розгорнути Все(&A)"
          "Fol&d All":
            value: "Згорнути Все(&D)"
          "Fold Level 1":
            value: "Згорнути рівень 1"
          "Fold Level 2":
            value: "Згорнути рівень 2"
          "Fold Level 3":
            value: "Згорнути рівень 3"
          "Fold Level 4":
            value: "Згорнути рівень 4"
          "Fold Level 5":
            value: "Згорнути рівень 5"
          "Fold Level 6":
            value: "Згорнути рівень 6"
          "Fold Level 7":
            value: "Згорнути рівень 7"
          "Fold Level 8":
            value: "Згорнути рівень 8"
          "Fold Level 9":
            value: "Згорнути рівень 9"
      "Reflow Selection":
        value: "Перенаправити Селекцію"
      Bookmark:
        value: "Закладка"
        submenu:
          "View All":
            value: "Переглянути Всі"
          "Toggle Bookmark":
            value: "Помітити Закладку"
          "Jump to Next Bookmark":
            value: "Перейти до Наступної Закладки"
          "Jump to Previous Bookmark":
            value: "Перейти до Попередньої закладки"
      "Select Encoding":
        value: "Вибрати кодування"
      "Go to Line":
        value: "Перейти до Рядка"
      "Select Grammar":
        value: "Вибрати Граматику"
  "&View":
    value: "Вигляд(&V)"
    submenu:
      "Toggle &Full Screen":
        value: "Повний Екран(&F)"
      "Toggle Menu Bar":
        value: "Сховати/Показати Меню"
      Panes:
        value: "Панелі"
        submenu:
          "Split Up":
            value: "Розділити згори"
          "Split Down":
            value: "Розділити знизу"
          "Split Left":
            value: "Розділити зліва"
          "Split Right":
            value: "Розділити зправа"
          "Focus Next Pane":
            value: "Фокус на Наступній Панелі"
          "Focus Previous Pane":
            value: "Фокус на Попередній Панелі"
          "Focus Pane Above":
            value: "Фокус на Панелі Зверху"
          "Focus Pane Below":
            value: "Фокус на Панелі Знизу"
          "Focus Pane On Left":
            value: "Фокус на Панелі Зліва"
          "Focus Pane On Right":
            value: "Фокус на Панелі Зправа"
          "Close Pane":
            value: "Закрити Панель"
      Developer:
        value: "Розробник"
        submenu:
          "Open In &Dev Mode…":
            value: "Відкрити у режимі розробника(&D)..."
          "&Reload Window":
            value: "Перезавантажити вікно(&R)"
          "Run Package &Specs":
            value: "Запустити Функції пакету(&S)"
          "Run &Benchmarks":
            value: "Запустити Бенчмарки(&B)"
          "Toggle Developer &Tools":
            value: "Інструменти розробника(&T)"
      "&Increase Font Size":
        value: "Збільшити розмір шрифта(&I)"
      "&Decrease Font Size":
        value: "Зменшити розмір шрифта(&D)"
      "Re&set Font Size":
        value: "Нормальний розмір шрифта(&S)"
      "Toggle Soft &Wrap":
        value: "Toggle Soft Wrap(&W)"
      "Toggle Command Palette":
        value: "Toggle Command Palette"
      "Toggle Tree View":
        value: "Toggle Tree View"
  "&Selection":
    value: "Селекція(&S)"
    submenu:
      "Add Selection &Above":
        value: "Додати Селекцію Зверху(&A)"
      "Add Selection &Below":
        value: "Додати Селекцію Знизу(&B)"
      "S&plit into Lines":
        value: "Поділити на Лінії(&P)"
      "Single Selection":
        value: "Єдина Селекція"
      "Select to &Top":
        value: "Вибрати до Верху(&T)"
      "Select to Botto&m":
        value: "Вибрати до Низу(&M)"
      "Select &Line":
        value: "Вибрати Лінію(&L)"
      "Select &Word":
        value: "Вибрати Слово(&W)"
      "Select to Beginning of W&ord":
        value: "Вибрати до початку слова(&O)"
      "Select to Beginning of L&ine":
        value: "Вибрати до початку рядка(&I)"
      "Select to First &Character of Line":
        value: "Вибрати до першого символу рядка(&C)"
      "Select to End of Wor&d":
        value: "Вибрати до кінця слова(&D)"
      "Select to End of Lin&e":
        value: "Вибрати до кінця рядка(&E)"
      "Select Inside Brackets":
        value: "Вибрати в лапках"
  "F&ind":
    value: "Пошук(&I)"
    submenu:
      "Find in Buffer":
        value: "Знайти у Буфері"
      "Replace in Buffer":
        value: "Замінити у Буфері"
      "Select Next":
        value: "Вибрати Ще"
      "Select All":
        value: "Вибрати Все"
      "Toggle Find in Buffer":
        value: "Перемкнути пошук у Буфері"
      "Find in Project":
        value: "Знайти у Проекті"
      "Toggle Find in Project":
        value: "Перемкнути пошук у проекті"
      "Find All":
        value: "Знайти Все"
      "Find Next":
        value: "Знайти Наступнє"
      "Find Previous":
        value: "Знайти Попереднє"
      "Replace Next":
        value: "Замінити Ще"
      "Replace All":
        value: "Замінити Все"
      "Clear History":
        value: "Очистити Історію"
      "Find Buffer":
        value: "Знайти Буфер"
      "Find File":
        value: "Знайти Файл"
      "Find Modified File":
        value: "Знайти Модифікований Файл"
  "&Packages":
    value: "Пакети(&P)"
  "&Help":
    value: "Допомога(&H)"
    submenu:
      "View &Terms of Use":
        value: "&Умови Використання"
      "View &License":
        value: "&Ліцензія"
      "Check for Update":
        value: "Перевірити на оновлення"
      "&Documentation":
        value: "Документація(&D)"
      "Frequently Asked Questions":
        value: "Почитати FAQ"
      "Community Discussions":
        value: "Дискусії Суспільства"
      "Report Issue":
        value: "Повідомити про Помилку"
      "Search Issues":
        value: "Шукати Помилки"
      "About Atom":
        value: "Про Atom"
      "Welcome Guide":
        value: "Гайд Початківця"
